#container {
    position: relative;
    top: 25px;
    left: 25px;
    border: 3px solid black;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    background-color: rgb(162, 243, 216);
}

#ball {
    position: relative;
    background-color: rgb(189, 90, 167);
    border: 3px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: 472px;
}

p {
    position: relative;
    top: 430px;
    left: 400px;
}